<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="styles.css">
    <title>ToDoVue</title>
</head>
<body>
    
    <div id="root" class="m-5">
    <tasks></tasks>       
<!--             <h1 v-show="true">Beats <span v-text="title"></span></h1>
            <p v-if="title.length<=3" v-text="span"></p>
            <h2 v-else v-text="otherSpan"></h2>
            <input type="text" v-model="title">
            <button @click="reverse">Reverse above text</button>
            <div class="container mt-5">
                <h3>Tasks</h3>
                <small>Completed Tasks : {{completedTasks}}</small>
                <small>Incompleted Tasks : {{incompletedTasks}}</small>
                <ul class="mt-3">
                    <li v-for="task in tasks" @click="toggleCheck(task)">
                        <span v-text="task.title" class="me-3"></span>
                        <small><i :class="getCheckStyle(task)"></i></small>
                    </li>
                    <input type="text" class="input form-control mt-3 w-25" v-model="inputContent" @keyup.enter="saveData">
                </ul>
            </div>
         -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>